*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

main {
  min-height: 100vh;
  background-color: #212121;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: #E5E5E5;
}
body,
html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  margin: 0;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

p {
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  color: #FFFFFF !important;
}

.input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.input[type=password]::-ms-reveal,
.input[type=password]::-ms-clear {
  display: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-text-fill-color: transparent;
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  border-image-slice: 1;
  -webkit-box-shadow: 0 0 0px 1px none inset;
  transition: transparent 5000s ease-in-out 0s;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
*,
*:before,
*:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-word;
}
